<%- include("../includes/head") %>
    </head>

    <body>
        <%- include("../includes/navigation") %>
            <main>
                <% if (cartProducts.length> 0) { %>
                    <div class="grid">
                        <% for (let product of cartProducts){ %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        $<%= product.price %>
                                    </h2>
                                    <h3 class="product__qty">
                                        <%= product.quantity %> of this!
                                    </h3>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <form action="/cart-delete-item" method="post">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <input type="hidden" name="productPrice" value="<%= product.price %>">
                                        <button type="submit" class="btn">Delete</button>
                                    </form>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <hr>
                    <div class="centered">
                        <form action="/create-order" method="post">
                            <button type="submit" class="btn">Order Now!</button>
                        </form>
                    </div>
                    <% } else { %>
                        <h1>There is no product in your cart, add product(s) to cart to see them here.</h1>
                        <% } %>
            </main>
    </body>

    </html>